[submodule "virtuosoNet"]
	path = virtuosoNet
	url = git@github.com:richt3211/virtuosoNet.git
[submodule "virtuosoData"]
	path = virtuosoData
	url = git@github.com:richt3211/virtuosoData.git
[submodule "thesis-midi-player"]
	path = thesis-midi-player
	url = git@github.com:richt3211/thesis-midi-player.git
[submodule "thesis-proposal"]
	path = thesis-proposal
	url = git@github.com:richt3211/thesis-proposal.git
[submodule "thesis-paper"]
	path = thesis-paper
	url = git@github.com:richt3211/thesis-paper.git
